#Agent.cc options
InitNrAg=1
deathrate=0.5
ThOn=80.
ThOff=20.
Emax=100.
Decay=0.3
morphdecay=0.2
growzonesize=5
InitNrCells=5
NrDevSteps=1200
divinterval=5
divtime=1200
HT=0.2
MaintInt=100
storecellspec=1
averagepattern=1


#Difcoef=0.
#Nrdiffsteps=5

genepen=0.00001
tfbspen=0.000001
sizebonus=0.05
sizepen=2.
stablesizepen=0.5

#intercalation
#intercalation=4
#nrintercalations=2
#probintercalate=0.2
#neighdev=0.
#stabilitythreshold=0.0001
#stabledur=100

#Genome.cc
AvCon=3
fac=100
fac2=1.


#Network.cc
H=60.

#World.cc
seedmutations=9
seedoutput=11
NrGenerations=1
