#Agent.cc options
InitNrAg=1
deathrate=0.5
ThOn=80.
ThOff=20.
Emax=100.
Decay=0.3
morphdecay=0.2
InitNrCells=26
NrDevSteps=240
divinterval=5
HT=1
MaintInt=20
storecellspec=1
averagepattern=1

DifCoef=5.
Nrdiffsteps=6

genepen=0.00001
tfbspen=0.000001
targetsize=120
sizebonus=0.1
sizepen=1.
stablesizepen=0.0

#intercalation
#intercalation=4
#nrintercalations=2
#probintercalate=0.2
#neighdev=0.
#stabilitythreshold=0.0001
#stabledur=100

#Genome.cc
AvCon=3
fac=100
fac2=1.


#Network.cc
H=60.

#World.cc
seedmutations=9
seedoutput=11
NrGenerations=1
